# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# Environment files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor/IDE
.vscode/
.idea/

# macOS
.DS_Store

# pytest
.pytest_cache/
